@model TestimonialViewModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 mx-auto mt-4">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <input type="hidden" asp-for="id" class="form-control" id="name" placeholder="Enter Full Name">

                            <label for="name">Full Name</label>
                            <input type="text" asp-for="name" class="form-control" id="name" placeholder="Enter Full Name">
                        </div>

                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" asp-for="title" class="form-control" id="Title" placeholder="Enter Title">
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" asp-for="description" id="Description" placeholder="Enter Description">
                        </div>

                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="text" class="form-control" asp-for="image" id="image" placeholder="Enter Image">
                        </div>

                        <div class="d-flex justify-content-between">
                            <a class="btn btn-danger w-50 mt-2 mr-2" href="/Admin/Testimonial">Turn Back</a>
                            <button type="submit" class="btn btn-primary w-50 mt-2 ml-2">Update Testimonial</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>