<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Admin/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Admin/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Admin/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Admin/css/style.css" rel="stylesheet">
</head>
<body>

    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="~/Admin/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/Admin/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/Admin/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>


        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <img src="~/Admin/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/Admin/Settings/"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                      
                                        <li><a href="/Admin/Logout/"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--  Sidebar start -->


        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu mt-3" id="menu">
                    <li>
                        <a href="/" aria-expanded="false" target="_blank">
                            <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Dashboard/" aria-expanded="false">
                            <i class="icon-magic-wand menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Booking" aria-expanded="false">
                            <i class="icon-calender menu-icon"></i><span class="nav-text">Booking</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Staff" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Staff</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Testimonial" aria-expanded="false">
                            <i class="icon-lock menu-icon"></i><span class="nav-text">Testimonial</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Service" aria-expanded="false">
                            <i class="icon-clock menu-icon"></i><span class="nav-text">Service</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/About" aria-expanded="false">
                            <i class="icon-info menu-icon"></i><span class="nav-text">About</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Room" aria-expanded="false">
                            <i class="icon-home menu-icon"></i><span class="nav-text">Room</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Guest" aria-expanded="false">
                            <i class="icon-people menu-icon"></i><span class="nav-text">Guest</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Contact" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i><span class="nav-text">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/File/" aria-expanded="false">
                            <i class="icon-energy menu-icon"></i><span class="nav-text">Resim İşlemleri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/FileProcess/" aria-expanded="false">
                            <i class="icon-film menu-icon"></i><span class="nav-text">Dosya İşlemleri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/User/" aria-expanded="false">
                            <i class="icon-user-follow menu-icon"></i><span class="nav-text">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Role/" aria-expanded="false">
                            <i class="icon-game-controller menu-icon"></i><span class="nav-text">Roller</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/RoleAssign/" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Rol Atamaları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Settings/" aria-expanded="false">
                            <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/WorkLocation/Index/" aria-expanded="false">
                            <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="content-body">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>

    </div>


    <script src="~/Admin/plugins/common/common.min.js"></script>
    <script src="~/Admin/js/custom.min.js"></script>
    <script src="~/Admin/js/settings.js"></script>
    <script src="~/Admin/js/gleek.js"></script>
    <script src="~/Admin/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/Admin/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/Admin/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/Admin/plugins/d3v3/index.js"></script>
    <script src="~/Admin/plugins/topojson/topojson.min.js"></script>
    <script src="~/Admin/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/Admin/plugins/raphael/raphael.min.js"></script>
    <script src="~/Admin/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Admin/plugins/moment/moment.min.js"></script>
    <script src="~/Admin/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Admin/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Admin/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="~/Admin/js/dashboard/dashboard-1.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

