<div class="col-md-11 mx-auto m-5 card">
   
    <form method="post" enctype="multipart/form-data">

        <div class="mb-3 p-4">
            <input type="file" name="file" class="form-control" />
            <button class="btn btn-primary mt-4">Dosya Yükle</button>
        </div>

    </form>
</div>