<div class="email-left-box">
    <a href="/Admin/Contact/Add" class="btn btn-primary btn-block">Yeni Mesaj Oluştur</a>
    <div class="mail-list mt-4">

        <a href="/Admin/Contact" class="list-group-item border-0 text-primary p-r-0">
            <i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b>
        </a>

        <a href="/Admin/Contact/Send" class="list-group-item border-0 p-r-0">
            <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Giden Kutusu
        </a>

        <a href="/Admin/Contact/Mail" class="list-group-item border-0 p-r-0">
            <i class="fa fa-star-o font-18 align-middle mr-2"></i>Mail 
        </a>

        <a href="#" class="list-group-item border-0 p-r-0">
            <i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>
            Taslaklar
        </a>

        <a href="#" class="list-group-item border-0 p-r-0">
            <i class="fa fa-trash font-18 align-middle mr-2"></i>
            Çöp Kutusu
        </a>
    </div>
   
</div>